@tailwind base;
@tailwind components;
@tailwind utilities;



body{
    background-color: #f2f2f2;
}
@media (max-width: 640px) { 
    #body {
        width:10%;
      
    }
    
 }
@media (max-width: 768px) { 
    #body {
        width: 90%;
        margin-top: 2rem;
    }
    .circle{
        width: 14vh;
        height: 10vh;
        border-radius: 100%;
    }
    .quiz{
        padding-top: 24px;
    }
 }
 @media (max-width: 1024px) { 
    #body {
        width:90%;
        margin-top: 7rem;
       
    }
    .header{
        font-size: 1.5rem;
    }
    .button {
        justify-content: space-between;
    }
 }
 
