@tailwind base;
@tailwind components;
@tailwind utilities;


@media (max-width: 640px) { 
    #body {
        max-width:80%;
        background-color: aliceblue;
    }
    
 }
@media (max-width: 768px) { 
    #body {
        max-width:80%;
        background-color: aliceblue;
    }
    .circle{
        width: 14vh;
        height: 10vh;
        border-radius: 100%;
    }
    .quiz{
        padding-top: 24px;
    }
 }
 @media (max-width: 1024px) { 
    #body {
        max-width:90%;
        background-color: aliceblue;
    }
    .header{
        font-size: 0.4rem;
    }
 }
 @media (max-width: 1280px) { 
    #body {
        max-width:98%;
        background-color: aliceblue;
    }
    .header{
        font-size: 0.4rem;
    }
 }